# Deno
.env
.DS_Store

# Build output
dist/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Python
__pycache__/
*.py[cod]
*.class
.Python
env/
venv/
.env/
.venv/
.aider.*
# Coverage
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
node_modules

.aider*
api_key.txt